<!DOCTYPE html>

<html>

<head>
<title>Products</title>
</head>


<body>

<h1>SmartReco Catalog</h1>
<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Search courses..."
        value="{{ query }}"
    >

    <button>
        Search
    </button>

</form>

<hr>

{% for product in products %}

<div>

<h2>
<a href="/products/{{product.id}}">
{{product.title}}
</a>
</h2>


<p>
{{ product.description }}
</p>


<p>
Category:
{{ product.category }}
</p>


<p>
Price:
{{ product.price }}
</p>


<a href="/products/{{product.id}}">
View Details
</a>


</div>

<hr>


{% endfor %}

<hr>


<div class="pagination">


{% if page > 1 %}

<a href="/products?page={{page-1}}&q={{query}}">
Previous
</a>

{% endif %}



{% for p in range(1, pages + 1) %}

<a href="/products?page={{p}}&q={{query}}">
{{p}}
</a>

{% endfor %}



{% if page < pages %}

<a href="/products?page={{page+1}}&q={{query}}">
Next
</a>

{% endif %}


</div>
</body>

</html>