<!DOCTYPE html>

<html>

<head>

<title>
{{product.title}}
</title>

</head>


<body>


<h1>
{{product.title}}
</h1>


<p>
{{product.description}}
</p>


<hr>


<h3>
Category
</h3>

<p>
{{product.category}}
</p>



<h3>
Difficulty
</h3>

<p>
{{product.difficulty}}
</p>



<h3>
Instructor
</h3>

<p>
{{product.instructor}}
</p>



<h3>
Duration
</h3>

<p>
{{product.duration}} hours
</p>



<h3>
Skills
</h3>

<p>
{{product.skills}}
</p>



<h3>
Tags
</h3>

<p>
{{product.tags}}
</p>



<h2>
Price: ₹{{product.price}}
</h2>


</body>


</html>